{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
{% if error %}
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ error|trans({}, 'FOSUserBundle') }}
    </div>
{% endif %}

<form role="form" action="{{ path("fos_user_security_check") }}" method="post" class="form-horizontal login-form">
    
    <fieldset>
        <legend>{{ 'security.authentication'|trans({}, 'FOSUserBundle') }}</legend>
        
        <div class="form-group">
            <label for="username" class="col-sm-2 control-label">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" />
            </div>
        </div>
        
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
            <div class="col-sm-3">
                <input type="password" class="form-control" id="password" name="_password" />
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label for="remember_me">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                        {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                    </label>
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" id="_submit" class="btn btn-default" name="_submit">
                    {{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}
                </button>
            </div>
        </div>
    </fieldset>
        
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    
</form>
{% endblock fos_user_content %}
